<% @body_id = 'checkout-page' %>

<div id="checkout-header">
  <div class="inner-section-left">
    <div style='max-width:140px; margin: 0px auto 15px; text-align:center;'>
      <%= logo %>
    </div>
    <div id="checkout-progress" class="medium_down_hide" data-hook="checkout_header">
      <%= checkout_progress %>
    </div>
  </div>
</div>

<% if @order.state != 'confirm' %>
    <div id="checkout-summary" class="js-badger-accordion" data-hook="checkout_summary_box">
          <%= render partial: 'summary', locals: { order: @order } %>
    </div>
<% end %>

<div id="checkout">
  <div class="inner-section-left">
    <%= render partial: 'spree/checkout/info' %>
    <% if @order.state == 'payment' %>
    <div id="payment_additional_discount_box" style="margin-bottom: 20px;">
      <h3><%= Spree.t(:coupon_code) %></h3>
      <% if Spree::Frontend::Config[:coupon_codes_enabled] %>
        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "coupon_code_pay" }, remote: true do |form| %>
        <div id="discount-apply_pay">
            <div class="form-group has-float-label">
              <%= form.text_field :coupon_code, placeholder: "#{Spree.t(:coupon_code)}", class: 'form-control', id: 'coupon_box_pay' %>
              <%= form.label Spree.t(:coupon_code) %>
              <%= button_tag Spree.t(:coupon_code_apply).html_safe, class: 'coupon_button btn btn-default' %>
            </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
<div class="grid">
      <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
      <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>

    <% if @order.state == 'address' || !@order.email? %>
      <% if spree_current_user %>
      <div>
        <h2><%= Spree.t(:contact_information) %></h2>
        <div class="grey" style="margin-bottom:6px;"><%= @order.name %> (<%= @order.email%>) <%= link_to Spree.t(:logout), spree.logout_path %></div>
      </div>
      <% else %>
        <div class="contact_login">
          <h3 class="_fr2"><%= Spree.t(:contact_information) %></h3>
          <span class="text-right grey"><span class="small_hide"><%= Spree.t(:already_have_an_acount) %> </span><a href='#login-modal' rel='modal:open'><%= Spree.t(:login) %></span></a>
        </div>
        <div class="has-float-label">
          <%= form.email_field :email, placeholder: "#{Spree.t(:email)}", class: 'form-control', required: true %>
          <%= form.label :email %>
        </div>
      <% end %>
    <% end %>

    <%= form.hidden_field :state_lock_version %>
      <%= render @order.state, form: form %>
    <% end %>
</div>
    <div id="checkout-footer">
        <a href='#returns-modal' rel='modal:open'>Returns policy</a>
        <a href='#privacy-modal' rel='modal:open'>Privacy policy</a>
        <a href='#terms-modal' rel='modal:open'>Terms of service</a>
      </div>
    </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.token %>"
  new BadgerAccordion('.js-badger-accordion', {
  });

  $(function() {
    setTimeout(function(){
      $('.alert').fadeOut(800);
    }, 4000);
  });
</script>

<% if @order.state == 'address' %>
  <%= render partial: 'spree/checkout/login' %>
<% end %>
<%= render partial: 'spree/checkout/returns' %>
<%= render partial: 'spree/checkout/privacy' %>
<%= render partial: 'spree/checkout/terms' %>
