  <% address_id = address_type.chars.first %>
<div class="inner address-form-conatiner" data-hook=<%="#{address_type}_inner" %> <% if address_type == 'shipping' %> style="display: none;"<% end %> >

     <div class="has-float-label" id=<%="#{address_id}firstname" %>>
        <%= form.text_field :firstname, placeholder: "#{Spree.t(:first_name)}", class: 'form-control', required: true %>
        <%= form.label :firstname do %>
          <%= Spree.t(:first_name) %>
        <% end %>
      </div>

      <div class="has-float-label" id=<%="#{address_id}lastname" %>>
        <%= form.text_field :lastname, placeholder: "#{Spree.t(:last_name)}", class: 'form-control', required: true %>
        <%= form.label :lastname do %>
          <%= Spree.t(:last_name) %>
        <% end %>
      </div>

      <% if Spree::Config[:company] %>
      <div class="has-float-label address-full" id=<%="#{address_id}company" %>>
        <%= form.text_field :company, placeholder: "#{Spree.t(:company)}", class: 'form-control' %>
        <%= form.label :company do %>
          <%= Spree.t(:company) %> <abbr class="optional" title="optional"><%= Spree.t(:optional) %></abbr>
        <% end %>
      </div>
      <% end %>

      <div class="has-float-label address-full" id=<%="#{address_id}address1" %>>
        <%= form.text_field :address1, placeholder: "#{Spree.t(:street_address)}", class: 'form-control', required: true %>
        <%= form.label :address1 do %>
          <%= Spree.t(:street_address) %>
        <% end %>
      </div>

      <div class="has-float-label address-full" id=<%="#{address_id}address2" %>>
        <%= form.text_field :address2, placeholder: "#{Spree.t(:street_address_2)}", class: 'form-control' %>
        <%= form.label :address2 do %>
          <%= Spree.t(:street_address_2) %> <abbr class="optional" title="optional"><%= Spree.t(:optional) %></abbr>
        <% end %>
      </div>

      <div class="has-float-label address-full" id=<%="#{address_id}city" %>>
        <%= form.text_field :city, placeholder: "#{Spree.t(:city)}", class: 'form-control', required: true %>
        <%= form.label :city do %>
          <%= Spree.t(:city) %>
        <% end %>
      </div>

      <% have_states = !address.country.states.empty? %>
      <div id=<%="#{address_id}country_container" %> class="address-full">
          <div class="has-float-label" id=<%="#{address_id}country" %>>
             <span id=<%="#{address_id}country-selection" %>>
              <%= form.collection_select :country_id, available_countries, :id, :name, {}, {class: 'form-cont ', required: true } %>
            </span>
            <%= form.label :country_id do %>
              <%= Spree.t(:country) %>
            <% end %>
          </div>

          <% if Spree::Config[:address_requires_state] %>
            <div class="has-float-label" id=<%="#{address_id}state" %> <% if !address.country.states_required %> style="display:none;"<% end %>>
              <%== state_elements = [
              form.collection_select(:state_id, address.country.states,
                                 :id, :name,
                                 {include_blank: true},
                                 {class: have_states ? 'form-control' : 'form-control hidden',
                                 required: have_states,
                                 disabled: !have_states}) +
               form.text_field(:state_name,
                                  class: !have_states ? 'form-control' : 'form-control hidden',
                                  placeholder: Spree.t(:state),
                                  required: !have_states,
                                  disabled: have_states)
               ].join.gsub('"', "'").gsub("\n", "")

              %>
              <%= form.label :state do %>
                <%= Spree.t(:state) %>  <abbr class="required" title="optional"><%= Spree.t(:optional) %></abbr>
              <% end %>
            </div>
          <% end %>

          <div class="has-float-label" id=<%="#{address_id}zipcode" %> <% if !address.country.zipcode_required %> style="display:none;"<% end %>>
            <%= form.text_field :zipcode, placeholder: "#{Spree.t(:zip)}", class: 'form-control', required: address.require_zipcode? %>
            <%= form.label :zipcode do %>
              <%= Spree.t(:zip) %>  <abbr class="required" title="optional"><%= Spree.t(:optional) %></abbr>
            <% end %>
          </div>
          <noscript>
            <%= form.text_field :state_name, class: 'form-control', required: true %>
          </noscript>
      </div>

      <div class="has-float-label address-full" id=<%="#{address_id}phone" %>>
        <%= form.phone_field :phone, placeholder: "#{Spree.t(:phone)}", class: 'form-control', required: address.require_phone? %>
        <%= form.label :phone do %>
          <%= Spree.t(:phone) %>
        <% end %>
      </div>

      <% if Spree::Config[:alternative_shipping_phone] %>
      <div class="has-float-label address-full" id=<%="#{address_id}altphone" %>>
        <%= form.phone_field :alternative_phone, placeholder: "#{Spree.t(:alternative_phone)}", class: 'form-control' %>
        <%= form.label :alternative_phone do %>
          <%= Spree.t(:alternative_phone) %>
        <% end %>
      </div>
      <% end %>

</div>
